*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.cards 
{
    width: 300px;
    min-height: 400px;
    background-color: transparent;
    border: 2px solid #6b0072;
    border-radius: 10px;
    box-shadow: rgba(151, 104, 165, 0.2) 0px 7px 29px 0px;
}

.cardImage img 
{
    width: 297px;
    border-radius: 8px 8px 0 0;
}

.cardTitle h1 
{
    color: #6b0072;
    font-weight: bold;
}

.cardDescripe p 
{
    color: #87478c;
}

.cardRate h5
{
    font-size: 14px;
    color: #6b0072;
    font-weight: bold;
}